<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="Dynamics365.UIAutomation.Api" version="9.1.0.27021" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1-beta1" targetFramework="net472" />
  <package id="NUnit" version="3.13.1" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="4.0.0-beta.1" targetFramework="net472" />
  <package id="Otp.NET" version="1.2.2" targetFramework="net472" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net452" />
  <package id="Selenium.Support" version="4.0.0-alpha07" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha07" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="88.0.4324.9600" targetFramework="net472" />
</packages>