<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="Dynamics365.UIAutomation.Api" version="9.1.0.23435" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="4.0.0-alpha.1" targetFramework="net472" />
  <package id="Otp.NET" version="1.2.2" targetFramework="net472" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net452" />
  <package id="Selenium.Support" version="4.0.0-alpha05" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha05" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="86.0.4240.2200" targetFramework="net472" />
</packages>